# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log

# Backend
backend/logs/
backend/node_modules/

# Frontend
colusus-website/node_modules/

# Build files
dist/
build/

# Testing
coverage/

# OS
.DS_Store
.vercel
.env*
